[includeIf "gitdir:~/dev/ndla/**/.git"]
  path = ~/.gitconfig.work
[includeIf "gitdir:~/dev/*/.git"]
  path = ~/.gitconfig.personal


[core]
    editor = nvim
    commentChar = ";"
    # pager = "diff-so-fancy | less --tabs=4 -RFX"
    pager = delta
    excludesfile = "~/.main-gitignore"
    # hooksPath = /home/jonas/.config/git/hooks/
[color]
    ui = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
# [color "diff-highlight"]
#     oldNormal = red bold
#     oldHighlight = red bold 52
#     newNormal = green bold
#     newHighlight = green bold 22
# [color "diff"]
#     meta = yellow
#     frag = magenta bold
#     commit = yellow bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse
[delta]
    features = line-numbers decorations navigate # side-by-side
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    side-by-side = false

[delta "decorations"]
    commit-decoration-style = bold yellow ul
    # commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = omit
    hunk-header-style = file line-number syntax
    hunk-header-decoration = omit

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[alias]
    gss = 'status'
    fwl = push --force-with-lease
    graph = log --all --decorate --oneline --graph 
    stashu = stash --include-untracked
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
    root = rev-parse --show-toplevel
    dft = difftool
    ru = reset --hard @{upstream}
[diff]
    tool = difftastic
[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft --display="side-by-side-show-both" "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[pull]
    ff = only
[commit]
    gpgsign = true

[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[rerere]
    enabled = true
