set clipboard=unnamedplus
let mapleader=","

set surround
set easymotion
set commentary
set nowrap
set hlsearch
set ignorecase
set smartcase
set matchit

map <silent> <C-l> :noh<CR>

nnoremap <silent> <Tab> :bnext<CR>
nnoremap <silent> <S-Tab> :bprevious<CR>

map <A-w> :bd<CR>

imap jj <Esc>

map <C-j> 5j
map <C-k> 5k

imap <C-j> <Down>
imap <C-k> <Up>
